# Prudynt Settings

general: {
	loglevel: "INFO";
};

rtsp: {
	port: 554;
	name: "thingino prudynt";
	est_bitrate: 5000;
	out_buffer_size: 500000;
	send_buffer_size: 307200;
	auth_required: true;
	username: "thingino";
	password: "thingino";
};

sensor: {
	model: "gc2053";
	i2c_address: 0x37;
	fps: 24;
};

stream0: {
	format: "H264";
	bitrate: 1000;
	height: 1080;
	width: 1920;
	buffers: 2;
	fps: 24;
	gop: 30;
	osd_pos_width: 5;
	osd_pos_height: 5;
	osd_user_text_pos_width: 900;
	osd_user_text_pos_height: 5;
};

osd: {
	enabled: true;
	font_path: "/usr/share/fonts/UbuntuMono-Regular2.ttf";
	font_size: 64;
	font_color: 0xFFFFFFFF;
	font_stroke_enabled: true;
	font_stroke_size: 64;
	font_stroke_color: 0xFF000000;
	format: "%I:%M:%S%p %m/%d/%Y";
	user_text_enabled: true;
	user_text_string: "thingino";
};
