# Prudynt Settings

rtsp: {
    auth_required: true;
    name: "thingino prudynt";
    username: "thingino";
    password: "thingino";
    port: 554;
};

sensor: {
	model: "gc2053";
	i2c_address: 0x37;
	fps: 24;
};

stream0: {
	osd_pos_width: 5;
	osd_pos_height: 5;
	buffers: 2;
	bitrate: 1000;
	fps: 24;
	gop: 30;
};

osd: {
	font_size: 96;
	font_path: "/usr/share/fonts/NotoSansMono-Regular.ttf";
	font_stroke_size: 96;
	enabled: 1;
	format: "%I:%M:%S %p %m/%d/%Y";
};
